@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');


body{
    font-family: 'josefin sans', sans-serif;
    background-color: #fffafb;
}


* {

  padding: 0px;
  margin:0px;
  box-sizing: border-box;

}  